# 1) Load

In [1]:
# Import Libraries
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt

In [2]:
# Load the .txt File
file_path = r'C:\Users\navee\CapitalOne_Coding\transactions\transactions.txt' 
# Initialize an empty list to hold each transaction record
data = []

# Open the file and read line by line
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            # Strip any extra whitespace and load the JSON object from each line
            data.append(json.loads(line.strip()))
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON on line: {line}")
            continue  # Skip lines with errors

# Convert the list of JSON objects into a DataFrame
df = pd.DataFrame(data)

# Check the first few rows of the dataframe
print(df.head())

  accountNumber customerId  creditLimit  availableMoney  transactionDateTime  \
0     737265056  737265056       5000.0          5000.0  2016-08-13T14:27:32
1     737265056  737265056       5000.0          5000.0  2016-10-11T05:05:54
2     737265056  737265056       5000.0          5000.0  2016-11-08T09:18:39
3     737265056  737265056       5000.0          5000.0  2016-12-10T02:14:50
4     830329091  830329091       5000.0          5000.0  2016-03-24T21:04:46

   transactionAmount         merchantName acqCountry merchantCountryCode  \
0              98.55                 Uber         US                  US
1              74.51          AMC #191138         US                  US
2               7.47           Play Store         US                  US
3               7.47           Play Store         US                  US
4              71.18  Tim Hortons #947751         US                  US

  posEntryMode  ... echoBuffer currentBalance merchantCity merchantState  \
0           02  ...                       0.0
1           09  ...                       0.0
2           09  ...                       0.0
3           09  ...                       0.0
4           02  ...                       0.0

  merchantZip cardPresent posOnPremises recurringAuthInd  \
0                   False
1                    True
2                   False
3                   False
4                    True

  expirationDateKeyInMatch isFraud
0                    False   False
1                    False   False
2                    False   False
3                    False   False
4                    False   False

[5 rows x 29 columns]

In [5]:
# Describe the data structure/ Understand the data
df.shape

(786363, 29)

In [7]:
# Number of records
print(f"Number of records: {len(df)}")

Number of records: 786363

In [9]:
# Number of fields
print(f"Number of fields: {len(df.columns)}")

Number of fields: 29

In [11]:
# Summary statistics for all fields
print(df.describe(include='all'))  # This includes both numerical and categorical data

       accountNumber customerId    creditLimit  availableMoney  \
count         786363     786363  786363.000000   786363.000000
unique          5000       5000            NaN             NaN
top        380680241  380680241            NaN             NaN
freq           32850      32850            NaN             NaN
mean             NaN        NaN   10759.464459     6250.725369
std              NaN        NaN   11636.174890     8880.783989
min              NaN        NaN     250.000000    -1005.630000
25%              NaN        NaN    5000.000000     1077.420000
50%              NaN        NaN    7500.000000     3184.860000
75%              NaN        NaN   15000.000000     7500.000000
max              NaN        NaN   50000.000000    50000.000000

        transactionDateTime  transactionAmount merchantName acqCountry  \
count                786363      786363.000000       786363     786363
unique               776637                NaN         2490          5
top     2016-12-25T14:04:15                NaN         Uber         US
freq                      4                NaN        25613     774709
mean                    NaN         136.985791          NaN        NaN
std                     NaN         147.725569          NaN        NaN
min                     NaN           0.000000          NaN        NaN
25%                     NaN          33.650000          NaN        NaN
50%                     NaN          87.900000          NaN        NaN
75%                     NaN         191.480000          NaN        NaN
max                     NaN        2011.540000          NaN        NaN

       merchantCountryCode posEntryMode  ... echoBuffer currentBalance  \
count               786363       786363  ...     786363  786363.000000
unique                   5            6  ...          1            NaN
top                     US           05  ...                       NaN
freq                778511       315035  ...     786363            NaN
mean                   NaN          NaN  ...        NaN    4508.739089
std                    NaN          NaN  ...        NaN    6457.442068
min                    NaN          NaN  ...        NaN       0.000000
25%                    NaN          NaN  ...        NaN     689.910000
50%                    NaN          NaN  ...        NaN    2451.760000
75%                    NaN          NaN  ...        NaN    5291.095000
max                    NaN          NaN  ...        NaN   47498.810000

       merchantCity merchantState merchantZip cardPresent posOnPremises  \
count        786363        786363      786363      786363        786363
unique            1             1           1           2             1
top                                                 False
freq         786363        786363      786363      433495        786363
mean            NaN           NaN         NaN         NaN           NaN
std             NaN           NaN         NaN         NaN           NaN
min             NaN           NaN         NaN         NaN           NaN
25%             NaN           NaN         NaN         NaN           NaN
50%             NaN           NaN         NaN         NaN           NaN
75%             NaN           NaN         NaN         NaN           NaN
max             NaN           NaN         NaN         NaN           NaN

       recurringAuthInd expirationDateKeyInMatch isFraud
count            786363                   786363  786363
unique                1                        2       2
top                                        False   False
freq             786363                   785320  773946
mean                NaN                      NaN     NaN
std                 NaN                      NaN     NaN
min                 NaN                      NaN     NaN
25%                 NaN                      NaN     NaN
50%                 NaN                      NaN     NaN
75%                 NaN                      NaN     NaN
max                 NaN                      NaN     NaN

[11 rows x 29 columns]

In [12]:
# This shows summary info about the DataFrame (column names, data types)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  object
 1   customerId                786363 non-null  object
 2   creditLimit               786363 non-null  float64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                786363 non-null  object
 8   merchantCountryCode       786363 non-null  object
 9   posEntryMode              786363 non-null  object
 10  posConditionCode          786363 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  object
 16  enteredCVV                786363 non-null  object
 17  cardLast4Digits           786363 non-null  object
 18  transactionType           786363 non-null  object
 19  echoBuffer                786363 non-null  object
 20  currentBalance            786363 non-null  float64
 21  merchantCity              786363 non-null  object
 22  merchantState             786363 non-null  object
 23  merchantZip               786363 non-null  object
 24  cardPresent               786363 non-null  bool
 25  posOnPremises             786363 non-null  object
 26  recurringAuthInd          786363 non-null  object
 27  expirationDateKeyInMatch  786363 non-null  bool
 28  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(4), object(22)
memory usage: 158.2+ MB

In [13]:
# Count of null values per column i can see no null values present.
print(df.isnull().sum())

accountNumber               0
customerId                  0
creditLimit                 0
availableMoney              0
transactionDateTime         0
transactionAmount           0
merchantName                0
acqCountry                  0
merchantCountryCode         0
posEntryMode                0
posConditionCode            0
merchantCategoryCode        0
currentExpDate              0
accountOpenDate             0
dateOfLastAddressChange     0
cardCVV                     0
enteredCVV                  0
cardLast4Digits             0
transactionType             0
echoBuffer                  0
currentBalance              0
merchantCity                0
merchantState               0
merchantZip                 0
cardPresent                 0
posOnPremises               0
recurringAuthInd            0
expirationDateKeyInMatch    0
isFraud                     0
dtype: int64

In [17]:
# printing the first 5 rows to understand the nature of the data.
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,,0.0,,,,False,,,False,False
1,737265056,737265056,5000.0,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,,0.0,,,,True,,,False,False
2,737265056,737265056,5000.0,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
3,737265056,737265056,5000.0,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
4,830329091,830329091,5000.0,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False

In [19]:
# I remove merchantCity, merchantState, merchantZip, posOnPremises, and recurringAuthInd beacuse no data present.
df.drop(['merchantCity', 'merchantState', 'merchantZip', 'posOnPremises', 'recurringAuthInd'], axis=1, inplace=True)

df.isnull().sum()

df = df.reset_index(drop=True)

df

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,echoBuffer,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.00,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,2015-03-14,414,414,1803,PURCHASE,,0.00,False,False,False
1,737265056,737265056,5000.0,5000.00,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,2015-03-14,486,486,767,PURCHASE,,0.00,True,False,False
2,737265056,737265056,5000.0,5000.00,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,2015-03-14,486,486,767,PURCHASE,,0.00,False,False,False
3,737265056,737265056,5000.0,5000.00,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,2015-03-14,486,486,767,PURCHASE,,0.00,False,False,False
4,830329091,830329091,5000.0,5000.00,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,2015-08-06,885,885,3143,PURCHASE,,0.00,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,732852505,732852505,50000.0,48904.96,2016-12-22T18:44:12,119.92,Lyft,US,US,90,...,2012-08-23,936,936,3783,PURCHASE,,1095.04,False,False,False
786359,732852505,732852505,50000.0,48785.04,2016-12-25T16:20:34,18.89,hulu.com,US,US,09,...,2012-08-23,939,939,3388,PURCHASE,,1214.96,False,False,False
786360,732852505,732852505,50000.0,48766.15,2016-12-27T15:46:24,49.43,Lyft,US,US,02,...,2012-08-23,936,936,3783,PURCHASE,,1233.85,False,False,False
786361,732852505,732852505,50000.0,48716.72,2016-12-29T00:30:55,49.89,walmart.com,US,US,09,...,2012-08-23,939,939,3388,PURCHASE,,1283.28,False,False,False
786362,732852505,732852505,50000.0,48666.83,2016-12-30T20:10:29,72.18,Uber,US,US,05,...,2012-08-23,939,939,3388,PURCHASE,,1333.17,False,False,False

In [20]:
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,echoBuffer,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,2015-03-14,414,414,1803,PURCHASE,,0.0,False,False,False
1,737265056,737265056,5000.0,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,2015-03-14,486,486,767,PURCHASE,,0.0,True,False,False
2,737265056,737265056,5000.0,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,2015-03-14,486,486,767,PURCHASE,,0.0,False,False,False
3,737265056,737265056,5000.0,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,2015-03-14,486,486,767,PURCHASE,,0.0,False,False,False
4,830329091,830329091,5000.0,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,2015-08-06,885,885,3143,PURCHASE,,0.0,True,False,False

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  object
 1   customerId                786363 non-null  object
 2   creditLimit               786363 non-null  float64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                786363 non-null  object
 8   merchantCountryCode       786363 non-null  object
 9   posEntryMode              786363 non-null  object
 10  posConditionCode          786363 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  object
 16  enteredCVV                786363 non-null  object
 17  cardLast4Digits           786363 non-null  object
 18  transactionType           786363 non-null  object
 19  echoBuffer                786363 non-null  object
 20  currentBalance            786363 non-null  float64
 21  cardPresent               786363 non-null  bool
 22  expirationDateKeyInMatch  786363 non-null  bool
 23  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(4), object(17)
memory usage: 128.2+ MB

1) echoBuffer: Likely irrelevant or unused feature with no meaningful information.
2) cardLast4Digits: Provides minimal information for fraud detection, not useful for prediction.
3) accountOpenDate: Date column likely not providing significant value, unless transformed into a feature like account age.
4) currentExpDate: Not predictive of fraud, or replaced by another feature (e.g., expiration flag).
5) dateOfLastAddressChange: Could have low variance or weak correlation with fraud, so dropped.
6) accountNumber: Another identifier removed to avoid overfitting, as it doesn’t generalize.
7) enteredCVV and cardCVV: Replaced by the matchingCVV feature, making these columns redundant.

In [25]:
df['matchingCVV'] = df['cardCVV'] == df['enteredCVV']

for col in ['cardPresent', 'matchingCVV', 'expirationDateKeyInMatch', 'isFraud']:
    df[col] = df[col].replace({False: 0, True: 1})
account_number = df['accountNumber']
df.drop(['echoBuffer',
         'cardLast4Digits',
         'accountOpenDate',
         'currentExpDate',
         'dateOfLastAddressChange',
         'accountNumber',
         'enteredCVV',
         'cardCVV',
         ], inplace=True, axis=1)

C:\Users\navee\AppData\Local\Temp\ipykernel_25048\1978358948.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({False: 0, True: 1})

In [27]:
# Data set for the predictions.
df

,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,merchantCategoryCode,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud,matchingCVV
0,737265056,5000.0,5000.00,2016-08-13T14:27:32,98.55,Uber,US,US,02,01,rideshare,PURCHASE,0.00,0,0,0,1
1,737265056,5000.0,5000.00,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,01,entertainment,PURCHASE,0.00,1,0,0,1
2,737265056,5000.0,5000.00,2016-11-08T09:18:39,7.47,Play Store,US,US,09,01,mobileapps,PURCHASE,0.00,0,0,0,1
3,737265056,5000.0,5000.00,2016-12-10T02:14:50,7.47,Play Store,US,US,09,01,mobileapps,PURCHASE,0.00,0,0,0,1
4,830329091,5000.0,5000.00,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,01,fastfood,PURCHASE,0.00,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,732852505,50000.0,48904.96,2016-12-22T18:44:12,119.92,Lyft,US,US,90,01,rideshare,PURCHASE,1095.04,0,0,0,1
786359,732852505,50000.0,48785.04,2016-12-25T16:20:34,18.89,hulu.com,US,US,09,01,online_subscriptions,PURCHASE,1214.96,0,0,0,1
786360,732852505,50000.0,48766.15,2016-12-27T15:46:24,49.43,Lyft,US,US,02,01,rideshare,PURCHASE,1233.85,0,0,0,1
786361,732852505,50000.0,48716.72,2016-12-29T00:30:55,49.89,walmart.com,US,US,09,99,online_retail,PURCHASE,1283.28,0,0,0,1
786362,732852505,50000.0,48666.83,2016-12-30T20:10:29,72.18,Uber,US,US,05,01,rideshare,PURCHASE,1333.17,0,0,0,1

In [29]:
# Checking any nulll values present or not
df.isnull().sum()

customerId                  0
creditLimit                 0
availableMoney              0
transactionDateTime         0
transactionAmount           0
merchantName                0
acqCountry                  0
merchantCountryCode         0
posEntryMode                0
posConditionCode            0
merchantCategoryCode        0
transactionType             0
currentBalance              0
cardPresent                 0
expirationDateKeyInMatch    0
isFraud                     0
matchingCVV                 0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   customerId                786363 non-null  object
 1   creditLimit               786363 non-null  float64
 2   availableMoney            786363 non-null  float64
 3   transactionDateTime       786363 non-null  object
 4   transactionAmount         786363 non-null  float64
 5   merchantName              786363 non-null  object
 6   acqCountry                786363 non-null  object
 7   merchantCountryCode       786363 non-null  object
 8   posEntryMode              786363 non-null  object
 9   posConditionCode          786363 non-null  object
 10  merchantCategoryCode      786363 non-null  object
 11  transactionType           786363 non-null  object
 12  currentBalance            786363 non-null  float64
 13  cardPresent               786363 non-null  int64
 14  expirationDateKeyInMatch  786363 non-null  int64
 15  isFraud                   786363 non-null  int64
 16  matchingCVV               786363 non-null  int64
dtypes: float64(4), int64(4), object(9)
memory usage: 102.0+ MB

In [33]:
# Separate numerical and non-numerical columns
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
non_numerical_columns = df.select_dtypes(include=['object', 'bool', 'datetime']).columns

In [35]:
numerical_columns

Index(['creditLimit', 'availableMoney', 'transactionAmount', 'currentBalance',
       'cardPresent', 'expirationDateKeyInMatch', 'isFraud', 'matchingCVV'],
      dtype='object')

In [37]:
non_numerical_columns

Index(['customerId', 'transactionDateTime', 'merchantName', 'acqCountry',
       'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'transactionType'],
      dtype='object')

In [39]:
df.describe() # Descriptive statistics of the features in the dataset

,creditLimit,availableMoney,transactionAmount,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud,matchingCVV
count,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000
mean,10759.464459,6250.725369,136.985791,4508.739089,0.448734,0.001326,0.015790,0.991079
std,11636.174890,8880.783989,147.725569,6457.442068,0.497365,0.036395,0.124664,0.094028
min,250.000000,-1005.630000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5000.000000,1077.420000,33.650000,689.910000,0.000000,0.000000,0.000000,1.000000
50%,7500.000000,3184.860000,87.900000,2451.760000,0.000000,0.000000,0.000000,1.000000
75%,15000.000000,7500.000000,191.480000,5291.095000,1.000000,0.000000,0.000000,1.000000
max,50000.000000,50000.000000,2011.540000,47498.810000,1.000000,1.000000,1.000000,1.000000

In [41]:
# Summary statistics: count, min, max, unique for each column

# Count of null values
null_counts = df.isnull().sum()

# Count of unique values
unique_counts = df.nunique()

# Minimum values (only for numeric columns)
min_values = df.min(numeric_only=True)

# Maximum values (only for numeric columns)
max_values = df.max(numeric_only=True)

# Display all together in a DataFrame
summary_stats = pd.DataFrame({
    'Null Count': null_counts,
    'Unique Values': unique_counts,
    'Min Value': min_values,
    'Max Value': max_values
})

# Display the summary
print(summary_stats)

                          Null Count  Unique Values  Min Value  Max Value
acqCountry                         0              5        NaN        NaN
availableMoney                     0         521916   -1005.63   50000.00
cardPresent                        0              2       0.00       1.00
creditLimit                        0             10     250.00   50000.00
currentBalance                     0         487318       0.00   47498.81
customerId                         0           5000        NaN        NaN
expirationDateKeyInMatch           0              2       0.00       1.00
isFraud                            0              2       0.00       1.00
matchingCVV                        0              2       0.00       1.00
merchantCategoryCode               0             19        NaN        NaN
merchantCountryCode                0              5        NaN        NaN
merchantName                       0           2490        NaN        NaN
posConditionCode                   0              4        NaN        NaN
posEntryMode                       0              6        NaN        NaN
transactionAmount                  0          66038       0.00    2011.54
transactionDateTime                0         776637        NaN        NaN
transactionType                    0              4        NaN        NaN

In [42]:
# List of selected Numerical columns
selected_columns = ['creditLimit', 'availableMoney', 'transactionAmount', 'currentBalance', 
                    'cardPresent', 'expirationDateKeyInMatch', 'isFraud', 'matchingCVV']

# Filter DataFrame for selected columns
df_selected = df[selected_columns]

# Summary statistics for selected columns
null_counts = df_selected.isnull().sum()  # Count of null values
unique_counts = df_selected.nunique()     # Count of unique values
min_values = df_selected.min(numeric_only=True)  # Minimum values
max_values = df_selected.max(numeric_only=True)  # Maximum values

# Combine the summary into a DataFrame
summary_stats_selected = pd.DataFrame({
    'Null Count': null_counts,
    'Unique Values': unique_counts,
    'Min Value': min_values,
    'Max Value': max_values
})

# Display the summary
print(summary_stats_selected)

                          Null Count  Unique Values  Min Value  Max Value
creditLimit                        0             10     250.00   50000.00
availableMoney                     0         521916   -1005.63   50000.00
transactionAmount                  0          66038       0.00    2011.54
currentBalance                     0         487318       0.00   47498.81
cardPresent                        0              2       0.00       1.00
expirationDateKeyInMatch           0              2       0.00       1.00
isFraud                            0              2       0.00       1.00
matchingCVV                        0              2       0.00       1.00

Data Quality: The dataset appears to be of good quality, with no missing data in the key fields. However, the presence of negative values in availableMoney and 0 values in transactionAmount should be addressed to ensure data integrity.

Critical Features for Fraud Detection:

1) matchingCVV: CVV mismatches are crucial in identifying potential fraudulent transactions.
2) cardPresent: Transactions where the card was not present could potentially indicate 3)fraudulent activity, and this feature should be closely monitored.
4) transactionAmount: Unusually high or low transaction amounts may be early indicators of fraud. The wide range of values could help detect outliers that are worth investigating.
   
Next Steps:
Further analysis can be conducted to understand the impact of negative availableMoney values and transactions with 0 amounts.
Leverage the key features (cardPresent, matchingCVV, and transactionAmount) in building machine learning models to predict fraud and develop better fraud detection strategies.

In [99]:
# Saving the dataframe to a CSV file
df.to_csv('finaldataset1.csv', index=False)